# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!Home-AssistantConfig/
!Home-AssistantConfig/*
!Home-AssistantConfig/custom_components/
!Home-AssistantConfig/custom_components*
!mariaDb/
!mariaDb/*
!mqtt/
!mqtt/*
!mqtt/config/
!mqtt/config*
!mqtt/data/
!mqtt/data/*
!mqtt/log/
!mqtt/log/*
!/
!*

# Ignore folders.
Home-AssistantConfig/.storage
Home-AssistantConfig/.cloud
Home-AssistantConfig/deps
Home-AssistantConfig/tts
mariaDb/homeassdb/
mariaDb/mysql/
mariaDb/performance_schema/
__pycache__/


# Ensure these files are ignored
ip_bans.yaml
secrets.yaml
known_devices.yaml
.uuid
.HA_VERSION
home-assistant.log
.env
.DS_Store
aria*
ib*
mosquitto.db
mosquitto.log
home-assistant_v2.db
._.env
OZW_Log.txt
options.xml
pyozw.sqlite
ibtmp1
tc.log
Home-AssistantConfig/zwcfg_**.xml
zwcfg_*.xml
Home-AssistantConfig/zwcfg_0xd6ca4344.xml
._configuration.yaml
._*

